/* reagys coins */
.navbar-item.darker::after {
    content: attr(title);
}

.navbar-item.darker:not(:first-child):after {
    text-transform: capitalize;
}

.navbar-item.darker > .coins {
    margin-right: 5px;
}
/* reagys time extenders */
.timeago::before {
    content: attr(title) " - ";
}

.bglinker .timeago::before {
    content: "";
}
/* post bgs for ad2 */
.postblock.postblock-own .postcontent{
    background: linear-gradient(to right, #2a5b8c, #333333 45%);
}
.postblock .postcontent{
    background: linear-gradient(to right, #2a5b8c, #333333 45%);
}
