/* reagys coins */
.navbar-item.darker::after {
    content: attr(title);
}

.navbar-item.darker:not(:first-child):after {
    text-transform: capitalize;
}

.navbar-item.darker > .coins {
    margin-right: 5px;
}
/* reagys time extenders */
.timeago::before {
    content: attr(title) " - ";
}

.bglinker .timeago::before {
    content: "";
}
/* oldpunch styled own post visibility */
.postblock-own .postbody,.postblock-own .postfoot,.postblock-own .editinfo {
	background: linear-gradient(to right, #F0FFC0, #fff 400px);
	opacity: 1;
}
